<% if resource.errors.any? %>

<div class='ui error message'>
    <i id='dismissable-message' class='close icon'></i>
    <div class='header'>
        Opps, something went wrong ...
    </div>
    <ul class='list'>
        <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>

<% end %>