// the UI framework
@import "semantic-ui";
// All of our custom styles are here. View specific styles can be in their own *.scss though.
@import "custom";

.account {
  background-color: #cccccc;
}
.account .column {
  max-width: 500px;
}
.account .grid {
  height: 100%;
}
.account .ui.error.message .header {
  display: flex;
}
