// the UI framework
@import "semantic-ui";
// All of our custom styles are here. View specific styles can be in their own *.scss though.
@import "custom";

html,
body {
  background-color: $default_bkg;
}

.account {
  margin-top: 5%;
}
.account .ui.message {
  background-color: $default_bkg_dark;
}
.account .column {
  max-width: 500px;
}
.account .grid {
  height: 100%;
}
.account .ui.error.message .header {
  display: flex;
}
.account .ui.header {
  color: $default_orange;
}
.account .ui.fluid.button {
  background: $default_orange;
  color: $white;
}
.account .ui.fluid.danger.button {
  background: $default_red;
  color: $white;
}
